/* Custom Style Tambahan jika Diperlukan */
html {
    scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #FDFDF5;
}
::-webkit-scrollbar-thumb {
    background: #8B0000;
    border-radius: 4px;
}